# Pandas
* Install: `$ conda install pandas`
* Collection of instruments/methods for data processing and analysis
* Fundamental: Two-dimensional (row and column) tabular data (DataFrame)
* Important subtype: Series - one-dimensional data with an index

# Series I
* One-dimensional data
* Data is labeled with an index
* Series consist of pairs (index, data)

In [ ]:
import pandas as pd
a = pd.Series([4, 2, 7, 8, 4, 4])
a

In [ ]:
a[2]

In [ ]:
a*2 + 4

In [ ]:
a.unique()

In [ ]:
a[2]

In [ ]:
a.isin([2, 4])

# Series II
* Indexing using non-integer-based indexing

In [ ]:
a = pd.Series([4, 2, 7, 8], index=['Spring', 'Summer', 'Autumn', 'Winter'])
a

In [ ]:
a['Winter']

### Mini-assignment
* Modify the time series
$$(\text{Spring}, 4 ), (\text{Summer}, 2 ), (\text{Autumn}, 7), (\text{Winter}, 8)$$
such that all data is increased by $10$%

# Date/Time series
* Extensive support for date-/time-type series of data
* Convert times/dates from other external formats
* Create times/dates as `DatetimeIndex`

In [ ]:
dti = pd.to_datetime(['Jan 2018', 'Feb 2018', 'Mar 2018', 'Apr 2018', 'May 2018', 'Jun 2018', 'Jul 2018', 'Aug 2018', 'Sep 2018', 'Oct 2018', 'Nov 2018', 'Dec 2018'])
dti

In [ ]:
temps_2018 = pd.Series(data=[2.3, -.7, .3, 8.4, 15.0, 16.5, 19.2, 17.5, 14.1, 10.3, 5.9, 4.3], index=dti)
temps_2018

In [ ]:
dti = pd.date_range(start='Jan 2018', end='Dec 2018', freq='MS')
dti

`DatetimeIndex` is the standard object type for storing date/time series. Often used as index for `Series`.

# DataFrame
1. Forming
2. Pretty-printing
3. Slicing columns and selecting

In [ ]:
data = [['Henrik Pedersen', 42, 'Associate Professor'], 
        ['Susanne Smed', 49, 'Professor'], 
        ['Kirstine Bak', 27, 'ph.d.-student'],
        ['Hans Hansen', 55, 'Professor']]
a = pd.DataFrame(data, columns=['Name', 'Age', 'Category'])

In [ ]:
a

In [ ]:
a.shape

In [ ]:
a['Name']  #or a.Name

## String methods
* Columns with strings can be manipulated as Python strings via `str` attribute

In [ ]:
a['Name'].str.upper()

In [ ]:
a['Name'].str.split(' ')

- Finding and extracting data via regular expressions:

In [ ]:
a['Name'].str.contains('[A-Z]a')

In [ ]:
a['Name'].str.match('[A-Z]a')

In [ ]:
a['Name'].str.extract('(\w+)(\W\w+)')

- Regular expressions are a very flexible and compact way of specifying patterns for matching text in more or less specific ways. Can get rather complicated - see `re` [module documentation](https://docs.python.org/3/library/re.html#regular-expression-syntax) and also [Regular Expression HOWTO](https://docs.python.org/3/howto/regex.html#regex-howto).

## Slicing rows and selecting columns

In [ ]:
a[2:4]

In [ ]:
a.loc[2:4, 'Age']   # this is a view

In [ ]:
a[2:4]['Age']    # this is view or a copy - we don't know

## Difference between a view and a copy

In [ ]:
a[2:4]['Age'] += 1
a

In [ ]:
a.loc[2:4, 'Age'] += 1
a

## Manipulation and arithmetic

In [ ]:
a['Age'] += 1

In [ ]:
a['Compensation'] = [44000, 66000, 30000, 65000]

In [ ]:
a

## Membership and comparison

In [ ]:
a.Category.isin(['Professor'])

In [ ]:
a[a.Category.isin(['Professor'])]

In [ ]:
a.Compensation > 50000

In [ ]:
del a['Compensation']
a

## Index functionalities

In [ ]:
a.reindex([1,3,0,2])

In [ ]:
a.sort_values('Age')

## Mini-assignment
* Give all with a compensation less than 50000 a raise of 1000 (Hint: use loc)

In [ ]:
a

# Statistics
* First-order

In [ ]:
a.mean()

In [ ]:
a.Age.mean()

In [ ]:
a.median()

## Second-order statistics
Pearson correlation coefficient
$$ r_{xy} = \frac{\sum_{i=1}^n (x_i - \bar x)(y_i - \bar y)}{\sqrt{\sum_{i=1}^n (x_i - \bar x)}\sqrt{\sum_{i=1}^n (yi - \bar y)}}$$

In [ ]:
a['Compensation'] = [44000, 66000, 30000, 65000]
a.corr()

In [ ]:
a.cov()

# Not available (na) and Not A Number (NaN)
* Missing data
* Operations not "well-defined"

In [ ]:
a['Compensation'] *= pd.Series([1.02, 1.03, 1.04])

In [ ]:
a

In [ ]:
b = a.dropna()
b

In [ ]:
a.fillna(0) # Be careful here - mini-asignment!

In [ ]:
# Reset our dataframe
a.loc[3, 'Compensation'] = 65000*1.02

## Mini-assignment
1. Compute the mean compensation with values: a['Compensation'] = [44000, 66000, 30000, 65000]
2. Update compensation: a['Compensation'] *= pd.Series([1.02, 1.02, 1.02])
3. Compute mean compensation - is it increased by 2% ?
4. Update NA values using a.fillna(0, inplace=True)
5. Compute mean compensation - what do you observe? - why?

## Non consecutive/custom Indexing
* Changing Index

In [ ]:
a['Staff number'] = [11130, 23485, 209385, 10345]
b = a.set_index('Staff number')

In [ ]:
b

In [ ]:
b.loc[10345]

# Categorical Data
We can work more explicitly with categorical data in Pandas.
- Define categorical variable as a special kind of `Series`
- Categorical variables can be ordered or un-ordered

In [ ]:
pd.Categorical(a['Category'],
               categories=['ph.d.-student', 'Associate Professor', 'Professor'],
               ordered=True)

In [ ]:
c = a.copy()
c['Category'] = pd.Categorical(a['Category'],
               categories=['ph.d.-student', 'Associate Professor', 'Professor'],
               ordered=True)

In [ ]:
c.sort_values(['Category', 'Compensation'], ascending=False)

# Writing and reading data with Pandas
* csv
* xlsx (excel)
* json
* SAS
* Stata

## Write a simple csv file
* emplyees.csv

In [ ]:
a.to_csv('employees.csv')

## Reading a simple csv file

In [ ]:
df_new = pd.read_csv('employees.csv', index_col=['Category'])
df_new.sort_index()

### Saving to a(n) * file

In [ ]:
a.to_excel('employees.xlsx')

In [ ]:
a.to_html('employees.html')

In [ ]:
a.to_stata('employees.dta')

# Saving in binary format
* Should be the preferred format for large datasets

In [ ]:
a.to_hdf('employees.h5', key='employees')

# Data preparation: assembling
1. Adding columns via merge
2. Adding columns via concatenation
3. Adding rows via concatenation
4. Adding rows via merge

In [ ]:
data1 = [['Henrik Pedersen', 42, 44000], 
        ['Susanne Smed', 49, 66000], 
        ['Kirstine Bak', 27, 30000],
        ['Hans Hansen', 55, 65000],
        ['Per Kirk', 42, 47000]]
df1 = pd.DataFrame(data1, columns=['Name', 'Age', 'Compensation'])
data2 = [['Associate Professor', 'Henrik Pedersen', 'Senior'], 
        ['Professor', 'Susanne Smed', 'Senior'], 
        ['ph.d.-student', 'Kirstine Bak', 'Junior'],
        ['Professor', 'Hans Hansen', 'Senior']]
df2 = pd.DataFrame(data2, columns=['Category', 'Name', 'Level'])

In [ ]:
df1.to_csv('merge_df1.csv')
df2.to_csv('merge_df2.csv')

In [ ]:
df1 = pd.read_csv('merge_df1.csv', index_col=0)
df2 = pd.read_csv('merge_df2.csv', index_col=0)

## Merging column based on column name
* inner (default): intersection
* outer : union

In [ ]:
df = pd.merge(df1, df2, on='Name')
df

In [ ]:
df = pd.merge(df1, df2, on='Name', how='outer')
df

## Adding columns by concatenation

In [ ]:
data1 = [['Henrik Pedersen', 42, 44000], 
        ['Susanne Smed', 49, 66000], 
        ['Kirstine Bak', 27, 30000],
        ['Hans Hansen', 55, 65000],
        ['Per Kirk', 42, 47000]]
df1 = pd.DataFrame(data1, columns=['Name', 'Age', 'Compensation'])
data2 = [['Associate Professor', 'Senior'], 
        ['Professor', 'Senior'], 
        ['ph.d.-student', 'Junior'],
        ['Professor', 'Senior']]
df2 = pd.DataFrame(data2, columns=['Category', 'Level'])

In [ ]:
df1.to_csv('concat_axis1_df1.csv')
df2.to_csv('concat_axis1_df2.csv')

In [ ]:
df1 = pd.read_csv('concat_axis1_df1.csv', index_col=0)
df2 = pd.read_csv('concat_axis1_df2.csv', index_col=0)

In [ ]:
df = pd.concat([df1, df2], axis=1)
df

## Adding rows via concatenation

In [ ]:
column_names = ['Name', 'Age', 'Compensation', 'Category', 'Level']
data1 = [['Henrik Pedersen', 42, 44000, 'Associate Professor', 'Senior'], 
        ['Susanne Smed', 49, 66000, 'Professor', 'Senior']]
df1 = pd.DataFrame(data1, columns=column_names)
data2 = [['Kirstine Bak', 27, 30000, 'ph.d.-student', 'Junior'],
        ['Hans Hansen', 55, 65000, 'Professor', 'Senior']]
df2 = pd.DataFrame(data2, columns=column_names)

In [ ]:
df1.to_csv('concat_axis0_df1.csv')
df2.to_csv('concat_axis0_df2.csv')

In [ ]:
df1 = pd.read_csv('concat_axis0_df1.csv', index_col=0)
df2 = pd.read_csv('concat_axis0_df2.csv', index_col=0)

In [ ]:
df = pd.concat([df1, df2]).reset_index(drop=True)
df

## Mini-assignment
* Adding rows and columns via merging of the below data frames
* Try both outer and inner: what do you observe? why?

In [ ]:
data1 = [['Henrik Pedersen', 42, 'Senior'], 
        ['Susanne Smed', 49, 'Senior'],
        ['Kirstine Bak', 27, 'Junior']]
df1 = pd.DataFrame(data1, columns=['Name', 'Age', 'Level'])
data2 = [['Kirstine Bak', 27, 30000, 'Junior'],
        ['Hans Hansen', 55, 65000, 'Senior']]
df2 = pd.DataFrame(data2, columns=['Name', 'Age', 'Compensation', 'Level'])

## (If time permits) Data preparation : dropping
1. Specific
2. Duplicates

In [ ]:
df2 = pd.DataFrame([['Kirstine Bak', 27, 31000, 'Ph.d.-student', 'Junior']],
                  columns=df.columns)

In [ ]:
df = pd.concat([df, df2]).reset_index(drop=True)

In [ ]:
df

In [ ]:
df.drop_duplicates(subset='Name', inplace=True)

In [ ]:
df

In [ ]:
df.drop(2, inplace=True)
df

## Split-apply-combine
 * Split data into groups
 * Apply a function(ality) on each group
 * Combine into a new data structure

In [ ]:
# Classic: using index / Pivot-table
df.set_index('Category', inplace=True)

In [ ]:
df.mean(level='Category')

## Split-apply-combine 
using groupby

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df.groupby('Category').mean()

In [ ]:
df.groupby('Category').Age.min()

References

Fabio Nelli (2015) "Python Data Analytics", Apress, ISBN-13 (electronic): 978-1-4842-0958-5

Wes McKinney & PyData Development Team (2018) "pandas: powerful Python data analysis toolkit"

Hadley Wickham (2011) "The Split-Apply-Combine Strategy for Data Analysis", Journal of Statistical Software, Volume 40, Issue 1.