<a href="https://colab.research.google.com/github/CALDISS-AAU/sdsphd19_coursematerials/blob/master/notebooks/Portfolio_Tuesday.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Portfolio Tuesday

We will be using the turnover dataset 

https://github.com/CALDISS-AAU/sdsphd19_coursematerials/raw/master/data/turnover.csv'

for this portfolio to do 3 things:

## Unsupervised ML

- Prepare the dataset (select the columns that are useful)
- Preprocess (Scale)
- Reduce dimensionality and perhaps make a scatterplot of the data
- Examine the reduced data

## Supervised ML

- Preprocess the data
- Try to predict "churn" using a simple model (Logistic Regression)
- Try a more advanced model (e.g. Random Forest)
- Evaluate your model
- Predict "satisfaction" (!!! This is a regression model)
- Evaluate the regression model

In [0]:
import pandas as pd

In [0]:
turnover = pd.read_csv('https://github.com/CALDISS-AAU/sdsphd19_coursematerials/raw/master/data/turnover.csv')

In [4]:
turnover.head()

   satisfaction  evaluation  number_of_projects  ...  promotion  department  salary
0          0.38        0.53                   2  ...          0       sales     low
1          0.80        0.86                   5  ...          0       sales  medium
2          0.11        0.88                   7  ...          0       sales  medium
3          0.72        0.87                   5  ...          0       sales     low
4          0.37        0.52                   2  ...          0       sales     low

[5 rows x 10 columns]

### Prepare the Dataset

#### Select the Data

In [0]:
# Select the variable needed for dimensionality reduction

In [0]:
X = turnover[...]

In [5]:
turnover.salary.unique()

array(['low', 'medium', 'high'], dtype=object)

In [0]:
salary_mapper = {'low':0, 'medium':1, 'high':2}

In [0]:
turnover['salary_recode'] = turnover.salary.map(salary_mapper)

In [9]:
turnover['salary_recode'].unique()

array([0, 1, 2])

### Scaling

In [0]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

In [0]:
X_scaled = ...

#### Dimensionality Reduction

In [0]:
from sklearn.decomposition import PCA

pca = PCA(n_components = ...)

In [0]:
X_reduced = pca.fit_transform(...)

#### Exploring the PCA

#### Clustering

In [0]:
from sklearn.cluster import KMeans

clusterer = KMeans(n_clusters = ...)

In [0]:
clusterer.fit(...)